<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silang.highgradeui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="dynamic_change_skin.DnApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="moving_fish.KotlinMovingFishActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="moving_fish.MovingFishActivity">

        </activity>
        <activity android:name="toutiao_indicator_text.SimpleColorChangeTextViewActivity2" />
        <activity android:name="toutiao_indicator_text.SimpleColorChangeTextViewActivity" />
        <activity android:name="toutiao_indicator_text.ViewPagerActivity" />
        <activity android:name="implement_taobao_home_page.NestedScrollViewRecyclerViewWithStickyHeaderActivityFix" />
        <activity android:name="implement_taobao_home_page.NestedScrollViewRecyclerViewWithStickyHeaderActivity" />
        <activity android:name="implement_taobao_home_page.NestedScrollViewRecyclerViewActivity" />
        <activity android:name="implement_taobao_home_page.ScrollViewRecyclerViewActivity" />
        <activity android:name="implement_taobao_home_page.TestTaobaoHomePageActivity" />
        <activity android:name=".TestGoogleFlexboxLayoutActivity" />
        <activity android:name=".TestGoogleFlexboxLayoutWithRecyclerViewActivity" />
        <activity android:name="dynamic_change_skin.TestResourceImplUsageActivity" /> <!-- swipeRefresh_viewpage滑动冲突特殊之处 -->
        <activity android:name="swipeRefresh_viewpager_conflict.SRL_VP_main" />
        <activity android:name=".TestViewPagerActivity" />
    </application>

</manifest>